
<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>SymptomForm</title></head>
<body>

 
 <form action="#" method="post">
    <div class="form-group">
		<div class="form-group">
    <label class="control-label">Symptom Id</label><input type ="text" name="sId"/> 
    </div>
    <label class="control-label">Symptom Name</label><input type="text" name="sName"/> 
    </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>
