
<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>DiseaseForm</title></head>
<body>

 
 <form action="#" method="post">
    <div class="form-group">
		<div class="form-group">
    <label class="control-label">Disease Id</label><input type ="text" name="dId"/> 
    </div>
    <label class="control-label">Disease Name</label><input type="text" name="dName"/> 
    </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>
